/*html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* Dieser Teil nimmt den gesamten verfügbaren Platz ein und drückt den Footer nach unten */


footer {
    /* Kein 'fixed' nötig! Er bleibt durch Flexbox unten, ohne etwas zu verdecken. */
    background-color: white;
}